<h1>Add Order</h1>
<div class="row" style="padding:5;margin:5;">
	<div class="col-md-5" style="  padding:5;margin:5;">
		<%= render 'form' %>
	</div>
	<div class="col-md-7" style="border: 2px solid; padding:5;margin:5;">
		<h3>Friend invited</h3>
		<table class="table table-striped table-bordered table-condensed" id="tbody">
			
				<tr>
  					<th >Friend Name</th>
					<th >Remove</th>
				</tr>
			
			
		</table>

	</div>	
</div>